[MQTT]
broker-url = Host_or_IP
broker-port = 1883
mqtt-username = your_username
mqtt-password = your_password

[DISCORD]
DISCORD_WEBHOOK = https://discord.com/api/webhooks/discord-webhook-for-Servicemessages

[TEST]
mqtttopic = test/txt
dwebhook = https://discord.com/api/webhooks/discord-webhook-for-topic-test-txt

[MORETESTS]
mqtttopic = usw/msg/status
dwebhook = https://discord.com/api/webhooks/discord-webhook-for-topic-usw-msg-status
